
<!-- this is the code to enable cusdis
<h4>Comments:</h4>
      <div id="cusdis_thread" data-host="https://cusdis.com"
        data-app-id="506d6398-57ef-4d63-b0c4-43ab429b7138"
        data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}"
        data-page-title="{{ .Title }}"></div>
      <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

-->

<!-- Call Disqus commenting service IT WOULD DISPLAY A MESSAGE THAT IT TOOK TOO LONG TO LOAD - NEVER WORKED-->
<!-- disqus config is on config.toml  -->
<!-- Use either the first or second call - the partial is supposed to be a copy of the internal option -->
<!--{{ template "_internal/disqus.html" . }} -->

<!-- {{ partial "disqus.html" . }} -->